body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #555;
  margin: 0;
  padding: 0;
}
a, a:hover, a:link, a:visited, a:focus {
  text-decoration: none;
  outline: none;
}
.top {
  background-color: #333;
}
.top .row {
  overflow: auto;
  padding: 1em 1em;
}
@media (min-width: 768px) {
  .top .row {
    padding: 0.4em 1em;
  }
}
.row {
  max-width: 1024px;
  margin: 0 auto;
}
.container-fluid {
  padding: 0;
}
.hero {
  background-color: #4A89DC;
  color: #fff;
}
h1 {
  font-size: 2em;
  float: left;
  font-weight: 400;
  margin: 0.3em 0;
  overflow: hidden;
  width: 120px;
  height: 28px;
  background-size: 120px 28px;
  background-repeat: no-repeat;
  text-indent: 1000px;
  background-image: url('img/logo.png');
}
@media (min-width: 768px) {
  h1 {
    width: 150px;
    height: 35px;
    background-size: 150px 35px;
  }
}
.hero .col-md-6:first-child {
  padding-top: 60px;
}
h2 {
  display: inline-block;
  font-weight: 300;
  font-size: 4em;
  margin: 0 0 10px 0;
  color: #fff;
}
@-webkit-keyframes fadeAndMove {
  from {opacity: 0; top: 0.5em;}
  to {opacity: 1; top: 0em;}
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes moveRight {
  from {left: -2.28em;}
  to {left: 0em;}
}
@-webkit-keyframes moveLeft {
  from {left: 2.28em;}
  to {left: 0em;}
}
@keyframes moveRight {
  from {left: -2.28em;}
  to {left: 0em;}
}
@keyframes moveLeft {
  from {left: 2.28em;}
  to {left: 0em;}
}
@keyframes swapRight {
  from {left: 0em;}
  to {left: 2.28em;}
}
@keyframes swapLeft {
  from {left: 0em;}
  to {left: -2.28em;}
}
.time-word {
  position: relative;
  display: inline-block;
  left: -2.28em;
  -webkit-animation: moveRight 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation: moveRight 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.data-word {
  position: relative;
  display: inline-block;
  left: 2.28em;
  -webkit-animation: moveLeft 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation: moveLeft 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.hero p {
  font-size: 1.5em;
  width: 420px;
  margin-bottom: 30px;
}
.btn-empty {
  background: transparent;
  border: solid 1px #fff;
  color: #fff;
}
.btn-empty:hover {
  color: #4A89DC;
  background: #fff;
}
.screen {
  width: 90%;
  margin: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
nav {
  float: right;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
  padding: 0 0.2em;
  font-size: 20px;
  margin-top: 14px;
}
nav i {
  margin-right: 5px;
}
nav a, nav a:hover {
  color: #eee;
  text-decoration: none;
}
nav a:hover {
  color: #fff;
}
nav a span {
  display: none;
}
@media (min-width: 768px) {
  nav li {
    padding: 0 2em;
    font-size: 18px;
  }
  nav a span {
    display: inline;
  }
}
.main-icon {
  font-size: 7em;
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 10px;
}
.content h3 {
  font-size: 3.25em;
  font-weight: 300;
  text-align: center;
  margin: 1em 0 0em 0;
  color: #222;
}
.content h4 {
  font-weight: 300;
  font-size: 1.6em;
  color: #666;
  text-align: center;
}
.three {
  font-weight: 300;
}
.three p {
  font-size: 16px;
  margin-top: 1em;
}
.three .col-sm-4 {
  margin-bottom: 3em;
}
.pic {
  background-color: #fff;
  color: #000;
}
.pic .col-md-7 {
  padding: 2em;
}
@media (min-width: 768px) {
  .pic .col-md-7 {
    padding: 4em;
  }
}
.pic .col-md-5 {
  overflow: hidden;
}
.pic h4 {
  font-weight: 300;
  font-size: 3em;
}
.additional {
  margin-top: 40px;
  font-size: 16px;
  text-align: center;
}
.additional p {
  text-align: left;
}
.additional .btn {
  color: white;
  margin-bottom: 1em;
}
footer {
  background-color: #333;
  margin: 0;
  padding: 2em 0;
}
footer p {
  margin: 0;
}
footer a {
  color: #999;
  text-decoration: none;
}
footer a:hover {
  color: #999;
  text-decoration: underline;
}
footer a.locu-link:hover {
  text-decoration: none;
}
.locu-white {
  background-position: -138px 0;
  width: 63px;
  height: 31px;
  background-image: url('img/sprite.png');
  display: inline-block;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .locu-white {
    background-image: url('img/sprite@2x.png');
    background-size: 205px 115px
  }  
}
.footer-opacity {
  opacity: .4;
}
.gd-attribution {
  display: inline-block;
  zoom: 1;
  margin-left: 5px;
  line-height: 100%;
  font-size: 12px;
  position: relative;
  top: 9px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #999;
  -webkit-font-smoothing: antialiased;
}
.logos {
  background-color: white;
}
.three a {
  color: #333;
  outline: none;
}
.three a:hover {
  color: #333;
  text-decoration: none;
}
.three a:hover h3 {
  text-decoration: underline;
}
